<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
<test name="ToolsQA" >
    <classes>
        <class name="com.restassuredtests.tests.APITests">
            <methods>
                <include name="verifyDetailsOfAllPeople" />
                <include name="verifyDetailsOfOnePerson" />
                <include name="verifyCreatingPerson" />
                <include name="verifyUpdatingExistingPerson" />
                <include name="verifyDeletingExistingPerson" />
            </methods>
        </class>
    </classes>
</test>
</suite>